body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.chessboard{
    border:2px solid black;
    width:640px;
    height:640px;
    display:flex;
    flex-wrap:wrap;
}

.chessboard div{ 
    width: 80px;
    height: 80px;
}

.a{
    background-color: white;
    
}

.b{
    background-color: black;
    
}
 
